<div class="d-flex border p-2 ">

    <div class="flex-column p-2">

        <h2>{{courseView.title}} </h2>
        <p >{{courseView.description}}</p>

    </div>

    <div class="flex-column col-3">

        <table>
            <tr>
                <b>Authors:&nbsp;</b>
                <td>{{courseView.authors}}</td>
            </tr>
            <tr>
                <b>Duration:&nbsp;</b>
                <td>{{courseView.duration}}</td>
            </tr>
            <tr>
                <b>Created:&nbsp;</b>
                <td>{{courseView.creationDate}}</td>
            </tr>
        </table>

        <ng-content></ng-content>

    </div>




</div>