<div class="form-group">
    <h5 class="text-center">Registration</h5>
    <div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
            <div class="">
                <label>Name</label>
                <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{'is-invalid': submitted &&  form.name.errors }">
                <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                    <div *ngIf="form.name.errors.required">Name is required</div>
                </div>
            </div>
            <div class="">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{'is-invalid': submitted &&  form.email.errors }">
                <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                    <div *ngIf="form.email.errors.required">Email is required</div>
                    <div *ngIf="form.email.errors.emailValid && form.email.value">Invalid email adress</div>
                </div>
            </div>
            <div class="">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
                <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                    <div *ngIf="form.password.errors.required">Password is required</div>
                    <div *ngIf="form.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>

            <div class="text-center">
                <app-button buttonText="Registration"></app-button>
            </div>
            <div class="text-center">
                <label>If you have an accout you can Login</label>
            </div>
        </form>
    </div>



</div>